<div class="col-md-4">
      <% if can? :manage, @recipe %>
        <%= form_with model:@recipes_food, url:user_recipe_recipes_food_path(current_user.id, @recipe.id), html:{method: :put} do |f| %>
          <button type="submit" class="btn" id="recipe_public">
            <div class="form-check form-switch">
              <%= f.label :public_recipe, class:"form-check-label" %>
              <%= f.check_box :public_recipe, class:"form-check-input" %>
            </div>
          </button>
        <% end %>
      <% end %>
</div>

<%= link_to "Add Ingredient",   new_user_recipe_recipes_food_path(current_user.id, @recipe.id ), class: "btn btn-dark p-3"  %>

<table class=" table table-striped table-bordered table-hover m-5 text-center" style="width: 90rem;">
 <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% Food.all.each do |r| %>
        <tr>
         <% r.recipes_foods.each do |rf| %>
            <th scope="row"><%= r.id %></th>
            <td><%= r.name %></td>
           
                <td><%= rf.quantity%></td>
            <td>$ <%= r.price %></td>
            <td>
            <% if can? :manage, r %>
            <%= button_to "Modify", user_food_index_path(current_user.id), data: {turbo: false}, method: :update, class: "btn btn-primary" %> 
            <%= button_to "Delete", user_recipe_recipes_food_path(current_user.id, @recipe.id, rf.id), data: {turbo: false}, method: :delete, class: "btn btn-danger" %>
            <% end %>
            </td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>