<h1>Create new food</h1>
<%= form_with model: Recipe, url: recipe_index_path(current_user) do |form| %>
  <%= form.label :name%>
  <%= form.text_field :name, placeholder: "name" %><br>
  <%= form.label :preparation_time %>
  <%= form.text_area :preparation_time, placeholder: "Write your the preparation time" %><br>
   <%= form.label :cooking_time %>
  <%= form.text_area :cooking_time, placeholder: "Write the cooking time" %><br>    
   <%= form.label :description %>
  <%= form.text_area :description, placeholder: "Describe how to cook it" %><br>
  <%= form.label :public %>
  <%= form.check_box :oppetool %><br />
  <%=form.submit "Add food"%> 
<% end %>