<h1 class="text-center margin-buttom"><%= @recipe.name%> <%= @recipe.id%><h1> 


<p>preparation_time: <%= @recipe.preparation_time%>
<span> Public: <%= @recipe.public_recipe%></span></p>

<p>cooking_time: <%= @recipe.cooking_time%></p>
<p>description: <%= @recipe.description%></p>
<button>Generate shopping list</button>

  <%= render template: "recipes_food/index"  %>

