<h1 class="text-center margin-buttom"><%= @recipe.name%> <%= @recipe.id%> </h1>
<div>
  <div class="d-flex justify-content-around">
  <div>
   <p>preparation_time: <%= @recipe.preparation_time%>
  <p>cooking_time: <%= @recipe.cooking_time%></p>
  </div>
    <div class="d-flex justify-content-start">
      <div class="d-flex flex-column">
        <h3><%= @recipe.name%></h3>
        <p>Public: <%= @recipe.public_recipe%></p>
            <p>description: <%= @recipe.description%></p>
      </div>
    </div>

  </div>
  <div class="d-flex justify-content-start" style="margin-left: 20rem">
    <button class="btn btn-dark">Generate shopping list</button>
  </div>
    <%= render template: "recipes_food/index"  %>
</div>
<h1 class="text-center margin-buttom"><%= @recipe.name%> <%= @recipe.id%> </h1>
<div>
  <div class="d-flex justify-content-around">
  <div>
   <p>preparation_time: <%= @recipe.preparation_time%>
  <p>cooking_time: <%= @recipe.cooking_time%></p>
  </div>
    <div class="d-flex justify-content-start">
      <div class="d-flex flex-column">
        <h3><%= @recipe.name%></h3>
        <p>Public: <%= @recipe.public_recipe%></p>
            <p>description: <%= @recipe.description%></p>
      </div>
    </div>

  </div>
  <div class="d-flex justify-content-start" style="margin-left: 20rem">
    <button class="btn btn-dark">Generate shopping list</button>
  </div>
    <%= render template: "recipes_food/index"  %>
</div>
