<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <nav class="navbar" style="background-color: #e3f2fd;">
      <% if user_signed_in? %>
      <p>Logged in as <strong><%= current_user.email %></strong>.</p>
      <a href="/" class="nav-link">Home</a>
      <%= link_to 'Edit profile', edit_user_registration_path, class: "nav-link " %> 
      <a href="/inventory" class="nav-link">Inventories</a>
       <a href="/food" class="nav-link">Food List</a>
        <a href="/recipe" class="nav-link">Recipies</a>
      <%= button_to 'logout', destroy_user_session_path, data: {turbo: false}, method: :delete, class: "btn btn-danger" %>
      <% end %>
  </nav>

    <%= yield %>
  </body>
</html>
